
.login-title {
    font-size: clamp(24px, 2.3vw, 32px);
    margin: clamp(30px, 4vw, 50px) auto;
    text-align: center;
    font-weight: bold;
}

.login-container {
    width: clamp(420px, 43vw, 700px);
    margin: 0 auto 20px;
    padding: 0;
}

.login-section {
    margin: 0 0 clamp(20px, 3vw, 40px) 0;
}

.login-group__label {
    font-weight: bold;
    font-size: clamp(14px, 1.3vw, 18px);
}

.login-unit {
    margin: 0;
    width: 100%;
}

.login-unit__item {
    width: 100%;
    height: clamp(38px, 3.6vw, 50px);
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: clamp(14px, 1.3vw, 18px);
}

.login-unit__message {
    margin: 0;
    width: 100%;
    height: clamp(25px, 2.5vw, 35px);
    padding: 3px 10px;
    font-size: clamp(12px, 1.1vw, 16px);
    color: #ff5555;
}

input:focus {
    outline: none;
}

.login-button {
    width: 100%;
    height: clamp(38px, 3.6vw, 50px);
    border: none;
    border-radius: 4px;
    background-color: black;
    color: #ffffff;
    font-size: clamp(14px, 1.4vw, 18px);
    font-weight: 560;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-parts {
    text-align: center;
}

.register-parts__link {
    text-decoration: none;
    color: #0173cc;
    font-size: clamp(14px, 1.2vw, 18px);
    cursor: pointer;
    transition: color 0.2s ease;
}