
.main {
    background-color: #f0eff2;
    min-height: 100vh;
    padding-top: 60px;
}

.correction-request__container {
    width: 100%;
    min-width: 740px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .correction-request__container {
        width: clamp(740px, 65vw, 900px);
        padding: 0;
    }
}

.correction-request__title {
    font-size: clamp(24px, 3.0vw, 28px);
    border-left: 8px solid black;
    padding: 0 16px;
    margin: 0 0 30px;
}

.correction-request__status {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.correction-request__status-text {
    font-size: clamp(14px, 1.6vw, 16px);
    color: black;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.is-active {
    font-weight: bold;
}

.correction-request__table {
    background-color: #ffffff;
    border-radius: 8px;
    width: 100%;
    table-layout: fixed;
}

.correction-request__table-title,
.correction-request__table-cell {
    font-size: clamp(14px, 1.6vw, 16px);
    color: #737373;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.1em;
    white-space: nowrap;
}

.correction-request__table-title {
    border-bottom: 3px solid #f0eff2;
    height: clamp(38px, 4vw, 46px);
}

.correction-request__table-cell {
    border-top: 2px solid #f0eff2;
    height: clamp(36px, 4vw, 44px);
}

.correction-request__table-cell--detail {
    color: black;
    text-decoration: none;
}

.correction-request__col--status {
    width: 13%;
}

.correction-request__col--name {
    width: 17%;
}

.correction-request__col--date {
    width: 17%;
}

.correction-request__col--reason {
    width: 24%;
}

.correction-request__col--request-at {
    width: 17%;
}

.correction-request__col--detail {
    width: 12%;
}
