.verify-container {
    width: 640px;
    margin: 100px auto;
    text-align: center;
}

.verify-message {
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.verify-btn {
    display: inline-block;
    margin: 35px 0;
    width: 210px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 1px solid #000000;
    background-color: #d9d9d9;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    line-height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.verify-mail {
    background: none;
    border: none;
    padding: 0;
    font-size: 18px;
    color: #2673cc;
    cursor: pointer;
}

.verify-success {
    font-size: 14px;
    color: black;
}